/* Musical tetratonic scale at 1em */
h1 {
    font-size: 2em !important;
    padding-top: 20px !important;
}

h2 {
    font-size: 1.6818em !important;
}

h3 {
    font-size: 1.4142em !important;
}

h4 {
    font-size: 1.1892em !important;
}

p {
    font-size: 1em !important;
}

small {
    font-size: .8409em;
}

/* Musical tetratonic scale at 1em */

html {
    max-height: 130vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#000000, #414141);
    background-attachment: fixed;
    font-family: 'Lexend Mega', sans-serif, 'Times New Roman', Times, serif !important;
}

.title,
.subtitle {
    font-weight: 900;
    color: yellow;
    padding: 30px;
    text-align: center;
}

.title {
    font-style: italic;
}

.subtitle {
    color: white;
    padding: 2em;
}

h4 {
    padding: 0 0 10px !important;
}

.button {
    padding: 20px 0 0;
}

button {
    height: 125%;
    border-radius: 20px;
    background-color: black;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 900;
    padding: 5px 35px;
    letter-spacing: 1px;
    font-family: 'Lexend Mega', sans-serif !important;
}

/* CSS For Form and animation */

main {
    display: block;
}

#form {
    padding: 20px 20px 50px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
}

.form {
    width: 350px;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 15px 0 25px;
    outline: none;
    font-size: 18px;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
    font-size: 18px;
}

.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    color: black;
}

/* End of Form animation */

@media screen and (max-width: 650px) {

    body {
        height: 200vh;
    }

    h1 {
        font-size: 1.6em !important;
        line-height: 1.5em !important;
    }

    .form,
    #form {
        width: 350px;
        height: 100%;
    }

    .title {
        padding: 50px 0 40px;
    }

    .subtitle {
        max-width: 90%;
    }

}

@media screen and (min-width: 1000px) {

    html {
        height: 130vh;
    }

    .form,
    #form {
        width: 350px;
    }

}